@font-face {
  font-family: "BebasNeue";
  src: url("BebasNeue-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family:  'Inter', sans-serif;
}

.head {
  font-family: 'BebasNeue', Georgia, Serif;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: black;
}

.logo {
    height: 50px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14px;
    padding: 8px 14px;
    border-radius: 20px; 
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease;
}
.nav-link:hover {
    background-color: #2a2a2a; 
    transform: scale(1.1);    
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 15px 50px;
    background-color: black;
    position: sticky;
    top: 0;
}

.logo {
    height: 30px;
    margin-right: auto; 
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    font-size: 14px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
    background-color: #2a2a2a;
    transform: scale(1.1);
}

.home {
  background-image: url("homebg.jpg");
  background-repeat: no-repeat; 
  background-size: cover;      
  background-position: center;  
  height: auto;              
  width: 75%;              
}


.nav-links {
    flex: 1;
    display: flex;
    justify-content: center; 
}
